{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <meta charset="UTF-8" />
    <title>To Do List Program</title>
    <link rel="stylesheet" href="{% static 'todo_app/style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body>
    <header class="header">
        <div class="container header-content">
            {% if user.is_authenticated %}
                <p>Hi، {{ user.username }} | </p>
                <form action="{% url 'logout' %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn-logout">logout</button>
                </form>
            {% else %}
                <p><a href="{% url 'login' %}" class="btn-login">login</a></p>
            {% endif %}
        </div>
    </header>

    <main class="main-content container">
        {% block content %}{% endblock %}
    </main>
</body>

</html>
