{% extends 'base.html' %}

{% block content %}
<div class="task-container">
    <h2 class="task-title">Create New Task</h2>

    <form method="post" class="task-form">
        {% csrf_token %}
        <label for="title" class="task-label">Task Tiltle:</label>
        <input type="text" id="title" name="title" class="task-input" required>

        <label for="description" class="task-label">Description:</label>
        <textarea id="description" name="description" class="task-textarea" rows="4"></textarea>

        <label for="due_date" class="task-label">due date</label>
        <input type="datetime" id="due_date" name="due_date">

        <button type="submit" class="btn btn-add">Create</button>
    </form>

    <p><a href="{% url 'task_list' %}" class="task-link">Return To Task List</a></p>
</div>
{% endblock %}
