{% extends 'base.html' %}

{% block content %}
<div class="task-list">

  <form method="GET" action="{% url 'task_list' %}" class="search-form">
    <input type="text" name="search" placeholder="Search tasks..." value="{{ search_query }}">
    <button type="submit">Search</button>
  </form>

  <h2>Task List</h2>

  {% for task in tasks %}
  <div class="task-item {% if task.completed %}completed{% endif %}">
    <span>{{ task.title }}</span>
    <span>{{ task.due_date }}</span>
    {% if task.compeled == True %}
    <span>{{ task.completed }}</span>
    {% endif %}
    <div>
      <a href="{% url 'edit_task' task.id %}" class="btn btn-add">Edit</a>
      <a href="{% url 'delete_task' task.id %}" class="btn btn-delete">Delete</a>
    </div>
  </div>
  {% empty %}
  <p>No tasks available.</p>
  {% endfor %}

  <br>
  <a href="{% url 'add_task' %}" class="btn btn-add">+ Add New Task</a>
</div>

<div class="chart-container">
  <h3>Task Stats</h3>
  <canvas id="tasksChart"></canvas>
</div>




<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    const completedTasks = parseInt("{{ completed_tasks|default:0 }}");
    const pendingTasks = parseInt("{{ pending_tasks|default:0 }}");

    const ctx = document.getElementById('tasksChart').getContext('2d');
    new Chart(ctx, {
        type: 'doughnut',
        data: {
            labels: ['Completed', 'Pending'],
            datasets: [{
                label: 'Tasks',
                data: [completedTasks, pendingTasks],
                backgroundColor: ['#4CAF50', '#FF9800']
            }]
        }
    });
</script>


{% endblock %}